name: .NET Core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Build
      run: | 
        cd src
        cd SideCarCLI
        dotnet restore
        dotnet build --configuration Release --no-restore -r linux-x64 -o linuxx64
        dotnet build --configuration Release --no-restore -r win-x64 -o winx64
        
    - uses: actions/upload-artifact@v2
      with:
        name: winx64
        path: src/SideCarCLI/winx64/
    
    - uses: actions/upload-artifact@v2
      with:
        name: linuxx64
        path: src/SideCarCLI/linuxx64/
        #- name: Test
    #  run: dotnet test --no-restore --verbosity normal
