name: .NET Core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Build
      run: | 
        cd src
        dotnet restore
        dotnet build --configuration Release --no-restore -r linux-x64
        dotnet build --configuration Release --no-restore -r win-x64
        
    #- name: Test
    #  run: dotnet test --no-restore --verbosity normal
